@media(max-width:750px){
    .w-responsive{
        width: 80%;
    }
    .h-responsive{
        height: 60vh;
    }
    /* .fs-main{
        font-size: 18px;
    } */
    
    .fs-main-mobile{
        font-size: 18px;
    } 
    .fs-subtext-mobile{
        font-size: 14px;
    }

    .mt-10-mobile{
        margin-top: 10px;
    }
}